html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #474a51;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

a {
  color: rgb(23, 64, 102);
}

.swiper-slide {
  text-align: center;
  font-size: 28px;
  background: none;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 70%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

/* App */
.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px 20px 20px;
}

.container__1 {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px 20px 20px;
}

.title {
  margin-bottom: 40px;
}

.subtitle {
  text-align: left;
}

.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.4;
  font-size: 32px;
  text-align: justify;
}

.image {
  width: 100%;
  height: auto;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
