body {
  font-family: "Roboto", sans-serif;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-color: #111;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  border-radius: 5px;
  text-align: center;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
}

.col-header.start {
  box-shadow: 0px 0px 10px rgb(255, 94, 0);
  background-color: rgb(255, 94, 0);
}

.col-header.progress {
  box-shadow: 0px 0px 10px rgb(0, 162, 255);
  background-color: rgb(0, 162, 255);
}

.col-header.done {
  box-shadow: 0px 0px 10px rgb(0, 255, 179);
  background-color: rgb(0, 255, 179);
}

.item {
  width: 150px;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border: 3px solid rgb(229, 255, 0, 0);
  text-align: center;
  padding: 0.8rem 1rem;
  font-size: 15px;
  cursor: grab;
}

.item.active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 44px;
}

.hold {
  border: 3px solid rgb(229, 255, 0);
  box-shadow: 0px 0px 5px rgb(229, 255, 0);
}

.hide {
  display: none;
}

.hovered {
  border-radius: 5px;
  border: 2px solid #ffffff;
}
